{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>To-Do lists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Appdev</a>
       <button
       class="navbar-toggler"
       type="button"
       data-toggle="collapse" data-target="#navbarSupportedContent"> <span class="navbar-toggler-icon"></span>
         </button>
         <div
       class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
        <li
        class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li
        class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li
        class="nav-item">
        <form method="post" action="{% url 'signout' %}">
          {% csrf_token %}
          <button type="submit" class="nav-link btn btn-link">Logout</button>
      </form>
      
        </li>
        {% else %}
        <li
        class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li
        class="nav-item">
        <a class="nav-link" href="/login/">Login</a> </li>
        <li
        class="nav-item">
        <a class="nav-link" href="/signup/">Sign up</a> </li>
        {% endif %}
       </ul> </div>
      
     </nav>
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-6">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}

          {% block content%}
          {% endblock %}
        </div>
  
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"> </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"> </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> </script>
  </body>

</html>