{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>To-Do lists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Appdev</a>
       <button
       class="navbar-toggler"
       type="button"
       data-toggle="collapse" data-target="#navbarSupportedContent"> <span class="navbar-toggler-icon"></span>
         </button>
         <div
       class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
        <li
        class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li
        class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>

        <li
        class="nav-item">
        <form method="post" action="{% url 'signout' %}">
          {% csrf_token %}
          <button type="submit" class="nav-link btn btn-link">Logout</button>
      </form>
      
        </li>

        {% else %}
        <li
        class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li
        class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a> </li>
        <li
        class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign up</a> </li>
        {% endif %}
       </ul> </div>
      
     </nav>
    <div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
      <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
        <div class="col-lg-6 text-center">
          <h1 class="display-1 mb-4">{% block header_text %}{% endblock %}</h1>

          <form method="POST" action="{% block form_action %}{% endblock %}" >
            <input
              class="form-control form-control-lg"
              name="item_text"
              id="id_new_item"
              placeholder="Enter a to-do item"
            />
            {% csrf_token %}
          </form>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-6">
          {% block table %}
          {% endblock %}
        </div>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"> </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"> </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> </script>

  </body>

</html>