{% extends "basee.html" %} 
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container">
<h2>Delete Item</h2> 
<form method="POST">
{% csrf_token %}
<p>Are you sure you want to delete it?</p>
<p><button type="submit" class="btn btn-primary">Submit </button></p>
</form>
</div>
{% endblock content %}