{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/add_item{% endblock %}

{% block table %}
<table class="table" id="id_list_table">
  {% for item in item_set.all %}
  <tr>
    <td>{{ forloop.counter }}: {{ item.text }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <label for="item_text">Item Text:</label>
  <input type="text" id="item_text" name="item_text" required>
  <button type="submit">Add Item</button>
</form>
{% endblock %}
