{% extends "basee.html" %}
{% block content %}

<head>
    <title>Profile</title>
</head>
<body>
    <h2>Your Items:{{ user_items.paginator.count }}</h2>
    <ul>
        {% for item in user_items %}
            <li>{{ item.text }} <b>on</b> {{item.created_at}} <a href="{% url 'item_delete' item.id %}">Delete item</a>
            </a></li>
        {% endfor %}
    </ul>
    {% if user_items.paginator.num_pages > 1 %}
    {% include 'pagination.html' with items=user_items %}
    {% endif %}
</body>
{% endblock content %}
